{
  "restartable": "rs",
  "watch": [
    "./src/**/*.scss",
    "./gulpfile.js"
  ],
  "ignore": [
    ".git",
    ".svn",
    "node_modules/**/node_modules",
    "logs/*",
    ".vscode",
    ".idea",
    ".log",
    "miniprogram_npm"
  ],
  "verbose": true,
  "exec": "gulp build",
  "env": {
    "NODE_ENV": "development"
  },
  "ext": "js json scss wxss"
}
